doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/moment.min.js')
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/socket.io/socket.io.js')
    block scripts
